<% if(alerts.success){%>
	<% alerts.success.forEach(function(msg){%>
		<div class="row">
			<div class="card #18ffff cyan accent-2 white-text">
				<h4 class="center-align"> <%= msg %> </h4>
			</div>
		</div>
	<%});%>
<%}%>

<% if(alerts.error){%>
	<% alerts.error.forEach(function(msg){%>
		<div class="row">
			<div class="card #d32f2f red darken-2 white-text">
				<h4 class="center-align"> <%= msg %> </h4>
			</div>
		</div>
	<%});%>
<%};%>