<div class="row">
	<div class="col s12">
	<h2>List of all Tags</h2>
	<h5>(this would be a nice place to add a search bar/sortable list function)</h5>

	<%	tags.forEach(function(t) { %>
		<div class="divider"></div>
		<div class="section">
			<a href="/tags/<%= t.id %>" style="font-size:28px;">
				#<%= t.name %>
			</a>
		</div>
	<% }); %>
	</div>
</div>